
.borrowing-management {
    -fx-background-image: url('../pics/mainui/background/borrowing-management.png');
}

.user-info-management {
    -fx-background-image: url('../pics/mainui/background/user-info-management.png');
}

.book-management {
    -fx-background-image: url('../pics/mainui/background/book-management.png');
}

.user-management {
    -fx-background-image: url('../pics/mainui/background/user-management.png');
}